{% extends "layout.html" %}

{% block title %}
    Hello, World!
{% endblock %}

{% block body %}

	<div style="display: flex; align-items: center;">

		<div class="blogcard", style="width: 60%; margin: 60px">	
			
			<p hidden id="article_id" >{{ article.ID }}</p>
			<h2>{{ article.title }}</h2>
			<small>Published on {{ article.date }}</small>
			<br><br><br>
			<p>{{ article.content | safe }}</p>
			<br>
			<p>
				Tags:   
				{% for tag in article.tags %}
					<span class="tag" >{{ tag }}</span>
				{% endfor %}
			</p>

			<br><br><br>
			<div id="disqus_thread"></div>
			<script>
			    /**
			    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
			    
			    var disqus_config = function () {
			    //this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
			    this.page.identifier = document.querySelector("#article_id").value; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			    };
			    
			    (function() { // DON'T EDIT BELOW THIS LINE
			    var d = document, s = d.createElement('script');
			    s.src = 'https://longlongdouble.disqus.com/embed.js';
			    s.setAttribute('data-timestamp', +new Date());
			    (d.head || d.body).appendChild(s);
			    })();
			</script>
			<noscript>
				Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
			</noscript>

		</div>
	</div>

{% endblock %}